<!-- Flippable card -->
<ng-container *ngIf="flippable">
  <!-- Front -->
  <div class="app-card-front">
    <ng-content select="[appCardFront]"></ng-content>
  </div>

  <!-- Back -->
  <div class="app-card-back">
    <ng-content select="[appCardBack]"></ng-content>
  </div>
</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">
  <!-- Content -->
  <ng-content></ng-content>

  <!-- Expansion -->
  <div class="app-card-expansion" *ngIf="expanded" [@expandCollapse]>
    <ng-content select="[appCardExpansion]"></ng-content>
  </div>
</ng-container>
